<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Liste de cuisine{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/list.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="/build/app.css">
        <script src="/build/app.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-dark text-light"
    {{ stimulus_controller('symfony/ux-swup/swup', {
        containers: ['#swup', '#nav'],
        animateHistoryBrowsing: true,
        animationSelector: '[class*="transition-"]',
        cache: true,
        theme: 'slide',
        debug: true,
    }) }}
    >
    <header id="nav">
        {% include "component/_navbar.html.twig" %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </header>
        <main class="container-fluid" id="swup">
            <div class="row justify-content-center">
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
